footer.footer
    .footer__row.footer__row--top
        h2.footer__title Seguinos
        .footer__networks
            ul
                li
                    a(href="https://www.facebook.com/LodeJoaquinAlberdi" target="_blank")
                        .footer__wrapper
                            i.fa.fa-facebook
                            p /LodeJoaquinAlberdi
                li
                    a(href="https://www.twitter.com/JoaquinAlberdi" target="_blank")
                        .footer__wrapper
                            i.fa.fa-twitter
                            p @JoaquinAlberdi
                li
                    a(href="http://www.instagram.com/JoaquinAlberdi" target="_blank")
                        .footer__wrapper
                            i.fa.fa-instagram
                            p @JoaquinAlberdi
                    
    .footer__row.footer__row--bottom
        .footer__container
            .footer__group
                p.footer__text.footer__text--color creado por
                p.footer__text dante interactive
                p.footer__text partner digital
            .footer__group.footer__group--logo
                .footer__logo
                    img(src="/images/logo.png")
                .footer__logo
                    img(src="/images/logo-dante.png")
        .footer__container
            p.footer__info 
                |jorge luis borges 1772, palermo, buenos aires 
                span - 
                a(href="#") 54 11 4832 5329 / 4831 7720 
                span - 
                a(href="#") info@lodejoaquinalberdi.com
