header.header
    .header__container
        a(href="/")
            .header__logo
                img(src="/images/logo.png")
        nav.header__nav
            ul
                each item in site.data.header
                    li
                        a(href=item.url)=item.name
                        
        .header__wrapper
            .header__social
                ul
                    li
                        a(href="https://www.facebook.com/LodeJoaquinAlberdi" target="_blank")
                            i.fa.fa-facebook
                    li
                        a(href="https://www.twitter.com/JoaquinAlberdi" target="_blank")
                            i.fa.fa-twitter
                    li
                        a(href="http://www.instagram.com/JoaquinAlberdi" target="_blank")
                            i.fa.fa-instagram
                            
            form.header__form
                input.header__input(type="text", placeholder="Buscar")
                button.header__search-button(href="#buscar")
                    i.fa.fa-search
            .header__hamburguer
                span
                span
                span
